/* HEADER */

body {
    margin: 0;
  }
  
  .top-container {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
  }
  
  .header {
    padding: 10px 16px;
    background: #447741;
    color: #f1f1f1;
  }

  .header-right {
      float: right;
      padding: 15px 15px 15px;
  }

  .header a {
      padding: 15px;
      border-radius: 5px;
      text-decoration: none;
      color: white;
  }
  
  .header a:hover {
      background-color: white;
      color: black;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 102px;
  }

/* SIDE BAR */

.sidenav {
    margin-top: 72px;
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    position: relative;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .content {
    margin-left: 230px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }